* {
  margin: 50;
  padding: 0;
  box-sizing:content-box ;
  border: 1px;
 
}

.bg-container {
  background-color: orange;
  text-align: center;
  height: 100vh;
}
.wrapper{
  width: 500px;
  margin: 8% auto;
  padding: 10px;
  background-color: navy;
  box-shadow: 0 0 50px mediumslateblue;
  border-radius: 30px;
 }

.hyper-link {
  margin: 10px;
  border-width: 2px;
}

.top {
  padding-top: 15px;
  padding-bottom: 15px;
}


header {
  padding: 20px;
  height: 80px;
}

header h3 {
  color: white;
  font-family: "roboto";
  text-align: center;
  font-size: 50px;
  font-weight: 800;
}


.container {
  display: grid;
  position: relative; 
  width: 500px;
  height: 500px;
  text-align: center;
  background-color: cyan;
  padding: 20px;
  background-color: transparent;
  border-radius: 16px;
}

label {
  font-size: 20px;
  font-weight: bold;
  color: cornsilk;
  font-family: "roboto";
}

input {
  padding: 3px 3px;
  margin: 10px;
  height: 35px;
  border-radius: 2px;
  border-color: black;
  transition: .3s border-color;
}

#givenscale {
  height: 35px;
  width: 120px;
  text-align: center;
  font-size: 16px;
  font-family: "roboto";
  font-weight: bold;
  border-radius: 6px;
  border-color: black;
  border-style: solid;
}

#tempscale {
  height: 35px;
  width: 120px;
  text-align: center;
  font-size: 16px;
  font-family: "roboto";
  font-weight: bold;
  border-radius: 6px;
  border-color: black;
  border-style: solid;
}

#temp {
  height: 35px;
  width: 60px;
  font-size: 18px;
  font-family: "roboto";
  font-weight: bold;
  border-radius: 6px;
  border-color: black;
}


#submitbtn {
  height: 2rem;
  width: 5rem;
  font-family: "roboto";
  font-weight: bold;
  border-style: solid;
  color: white;
  border-radius: 510px;
  border-color: rgb(210, 155, 15);
  font-size: 20px;
}


#resultContainer {
  margin: 50px;
  padding: 50px;
  background-color: whitesmoke;
  font-size: 20px;
  border-radius: 1px;
  border-color: whitesmoke;
  border: rgb(142, 132, 132);
  position: sticky;
  top: 200px;
  border-style: solid;
  font-family: "roboto";
  font-weight: bold;
}
